# CIS 390 - Supervised Machine Learning Final Project
For the first step of this project, I'll be demonstrating the "Data Preparation" step of the CRISP-DM process about the **"Predicting Motorcycle Resale Prices" Use Case**. In this jupyter notebook file, I'll go through displaying general information about the dataset, preparing a data quality report, cleaning the data, exploratory data analysis, handle missing data, feature engineering, and detecting outliers. When finished, we will save the resulting `DataFrame` to a file to use in our other `.ipynb` file for this project (the one where we actually build and evaluate the model).

## Learning About The Dataset
To start off, I'll load required libraries for this project, load in the dataset, and learn about it. This will include creating a data quality report and seeing what exactly we're working with.

In [1]:
import pandas as pd
import numpy as np

In [3]:
# I took the original "Motorcycles.txt" data and converted it to csv format by making the first line the column names
# and removing the lines starting with "%" and "@"
df = pd.read_csv("Data/Motorcycles.csv")
df.head()

,name,selling_price,year,seller_type,owner,km_driven,ex_showroom_price
0,'Royal Enfield Classic 350',175000,2019,Individual,'1st owner',350,?
1,'Honda Dio',45000,2017,Individual,'1st owner',5650,?
2,'Royal Enfield Classic Gunmetal Grey',150000,2018,Individual,'1st owner',12000,148114.0
3,'Yamaha Fazer FI V 2.0 [2016-2018]',65000,2015,Individual,'1st owner',23000,89643.0
4,'Yamaha SZ [2013-2014]',20000,2011,Individual,'2nd owner',21000,?

In [3]:
# Data Quality Report
df.replace("?", np.nan, inplace=True)
missing_values = df.isnull().sum()
summary_stats = df.describe(include="all")
data_types = df.dtypes
categorical_columns = df.select_dtypes(include=["object"]).columns
unique_values = {col: df[col].nunique() for col in categorical_columns}

print("Missing Values:\n", missing_values)
print("\nSummary Statistics:\n", summary_stats)
print("\nData Types:\n", data_types)
print("\nCategorical Columns:", categorical_columns)
print("\nUnique Values in Categorical Columns:\n", unique_values)

Missing Values:
 name                   0
selling_price          0
year                   0
seller_type            0
owner                  0
km_driven              0
ex_showroom_price    435
dtype: int64

Summary Statistics:
                       name  selling_price         year seller_type  \
count                 1061    1061.000000  1061.000000        1061
unique                 279            NaN          NaN           2
top     'Bajaj Pulsar 150'            NaN          NaN  Individual
freq                    41            NaN          NaN        1055
mean                   NaN   59638.151744  2013.867107         NaN
std                    NaN   56304.291973     4.301191         NaN
min                    NaN    5000.000000  1988.000000         NaN
25%                    NaN   28000.000000  2011.000000         NaN
50%                    NaN   45000.000000  2015.000000         NaN
75%                    NaN   70000.000000  2017.000000         NaN
max                    NaN  760000.000000  2020.000000         NaN

              owner      km_driven ex_showroom_price
count          1061    1061.000000               626
unique            4            NaN               230
top     '1st owner'            NaN           50267.0
freq            924            NaN                23
mean            NaN   34359.833176               NaN
std             NaN   51623.152702               NaN
min             NaN     350.000000               NaN
25%             NaN   13500.000000               NaN
50%             NaN   25000.000000               NaN
75%             NaN   43000.000000               NaN
max             NaN  880000.000000               NaN

Data Types:
 name                 object
selling_price         int64
year                  int64
seller_type          object
owner                object
km_driven             int64
ex_showroom_price    object
dtype: object

Categorical Columns: Index(['name', 'seller_type', 'owner', 'ex_showroom_price'], dtype='object')

Unique Values in Categorical Columns:
 {'name': 279, 'seller_type': 2, 'owner': 4, 'ex_showroom_price': 230}

## Preparing The Data
To prepare the dataset for building a machine learning model to predict resale price, we need to thoroughly clean and preprocess the data. Let's first understand that the target variable is `selling_price`. This column must:
   - contain numeric data
   - have no missing or invalid values
   - be free from extreme outliers
   
We also have to handle missing data, which only appears in the `ex_showroom_price` column. We can impute these missing values using the median. We will also perform feature engineering, detect and handle extreme outliers, as well as handle categorical variables by encoding them in this step.

In [4]:
# Handle missing data
df['ex_showroom_price'].fillna(df['ex_showroom_price'].median(), inplace=True)

# Feature engineering
current_year = 2024
df['age'] = current_year - df['year']

df['usage_intensity'] = df['km_driven'] / df['age']
df['usage_intensity'] = df['usage_intensity'].replace([np.inf, -np.inf], 0)  # handle potential division by 0

df['brand'] = df['name'].apply(lambda x: str(x).split()[0][1:])  # get first word of name column

# Convert categorical variables to numerical
df['ex_showroom_price'] = pd.to_numeric(df['ex_showroom_price'], errors='coerce')
df['seller_type'] = df['seller_type'].astype('category').cat.codes
df['owner'] = df['owner'].astype('category').cat.codes
df['brand'] = df['brand'].astype('category').cat.codes

# Detect outliers
numeric_columns = ['selling_price', 'km_driven', 'ex_showroom_price', 'age', 'usage_intensity']
# Let's get a before and after of removing outliers to see what's changing...
print("Before:", df.describe(include="all"))
for col in numeric_columns:
    q1 = df[col].quantile(0.25)
    q3 = df[col].quantile(0.75)
    iqr = q3 - q1
    lower_bound = q1 - 1.5 * iqr
    upper_bound = q3 + 1.5 * iqr
    df = df[(df[col] >= lower_bound) * (df[col] <= upper_bound)]
print("\nAfter:", df.describe(include="all"))

Before:                       name  selling_price         year  seller_type  \
count                 1061    1061.000000  1061.000000  1061.000000
unique                 279            NaN          NaN          NaN
top     'Bajaj Pulsar 150'            NaN          NaN          NaN
freq                    41            NaN          NaN          NaN
mean                   NaN   59638.151744  2013.867107     0.994345
std                    NaN   56304.291973     4.301191     0.075022
min                    NaN    5000.000000  1988.000000     0.000000
25%                    NaN   28000.000000  2011.000000     1.000000
50%                    NaN   45000.000000  2015.000000     1.000000
75%                    NaN   70000.000000  2017.000000     1.000000
max                    NaN  760000.000000  2020.000000     1.000000

              owner      km_driven  ex_showroom_price          age  \
count   1061.000000    1061.000000       1.061000e+03  1061.000000
unique          NaN            NaN                NaN          NaN
top             NaN            NaN                NaN          NaN
freq            NaN            NaN                NaN          NaN
mean       0.145146   34359.833176       8.172431e+04    10.132893
std        0.402407   51623.152702       5.997579e+04     4.301191
min        0.000000     350.000000       3.049000e+04     4.000000
25%        0.000000   13500.000000       6.458900e+04     7.000000
50%        0.000000   25000.000000       7.275250e+04     9.000000
75%        0.000000   43000.000000       7.851300e+04    13.000000
max        3.000000  880000.000000       1.278000e+06    36.000000

        usage_intensity        brand
count       1061.000000  1061.000000
unique              NaN          NaN
top                 NaN          NaN
freq                NaN          NaN
mean        3271.943626     8.343073
std         3937.194132     4.964128
min           63.333333     0.000000
25%         1520.000000     3.000000
50%         2571.428571     7.000000
75%         4000.000000    13.000000
max        58666.666667    19.000000

After:                       name  selling_price         year  seller_type  \
count                  837     837.000000   837.000000   837.000000
unique                 210            NaN          NaN          NaN
top     'Bajaj Pulsar 150'            NaN          NaN          NaN
freq                    39            NaN          NaN          NaN
mean                   NaN   45174.420550  2013.792115     0.996416
std                    NaN   24413.998691     3.705328     0.059797
min                    NaN    6000.000000  2002.000000     0.000000
25%                    NaN   26000.000000  2011.000000     1.000000
50%                    NaN   40000.000000  2014.000000     1.000000
75%                    NaN   60000.000000  2017.000000     1.000000
max                    NaN  130000.000000  2019.000000     1.000000

             owner     km_driven  ex_showroom_price         age  \
count   837.000000    837.000000         837.000000  837.000000
unique         NaN           NaN                NaN         NaN
top            NaN           NaN                NaN         NaN
freq           NaN           NaN                NaN         NaN
mean      0.136201  30292.316607       69312.715651   10.207885
std       0.370040  19305.521768       11372.739194    3.705328
min       0.000000    380.000000       42859.000000    5.000000
25%       0.000000  15000.000000       59422.000000    7.000000
50%       0.000000  27000.000000       72752.500000   10.000000
75%       0.000000  41311.000000       72752.500000   13.000000
max       2.000000  90000.000000       95955.000000   22.000000

        usage_intensity       brand
count        837.000000  837.000000
unique              NaN         NaN
top                 NaN         NaN
freq                NaN         NaN
mean        2945.858118    7.702509
std         1602.524946    4.841621
min           63.333333    0.000000
25%         1733.333333    3.000000
50%         2727.272727    6.000000
75%         4000.000000   10.000000
max         7500.000000   18.000000

## Interpreting And Saving The Results
There are some interesting discoveries to be taken away from this before and after. One of which is how much the mean selling price decreased after removing outliers. This shows that this number was being hiked up from some extremely high values in the dataset. We will delve into these observations more in the synopsis document, but now that we have successfully prepared the data for modeling, we will save it to another file which will then be used in the `FinalProject_Modeling.ipynb` file.

In [5]:
df.to_csv("abt_motorcycle_prices.csv", index=False)